<!DOCTYPE html>
<html lang="en" ng-app="crsym">
  <head>
    <title>crsym: The Chrome Symbolizer</title>
    <meta charset="utf-8">
    <link rel="stylesheet" media="screen" href="/static/static/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="/static/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
  </head>
  <body ng-controller="CrsymController">

    <header>
      <h1>CRSYM</h1>
      <h6>&mdash; Out-of-band crash processing</h6>
    </header>

    <section class="input-types well">
      <label class="radio">
        Apple Crash/Hang/Sample
        <input type="radio" name="input_type" ng-model="inputType" value="apple">

        <p class="help">
          Symbolize an Apple crash or hang report from
          <code>~/Library/Diagnostic Reports</code>, or the output from running
          the Sample command in Activity Monitor or at the command line.
        </p>
      </label>

      <label class="radio">
        Crash Key
        <input type="radio" name="input_type" ng-model="inputType" value="crash_key">

        <p class="help">
          Symbolize the value of a Breakpad upload "product data" key. These
          appear on the crash server in the blue metadata at the top of the report.
          Example: <code>zombie_dealloc_bt</code>.
        </p>
      </label>
      <div class="input-options" ng-show="inputType == 'crash_key'">
        <div>
          <label for="report_id">Crash Report ID</label>
          <input type="text" ng-model="typeData.crash_key.report_id" id="report_id">
        </div>

        <div>
          <label for="crash_key">Crash Key Name</label>
          <input type="text" ng-model="typeData.crash_key.crash_key" id="crash_key">
        </div>
      </div>

      <label class="radio">
        Minidump Stackwalk
        <input type="radio" name="input_type" ng-model="inputType" value="stackwalk">

        <p class="help">
          Symbolize the machine-format output of Breakpad's
          <code>minidump_stackwalk&nbsp;-m</code> command.
        </p>
      </label>

      <label class="radio">
        Look Up Module Info
        <input type="radio" name="input_type" ng-model="inputType" value="module_info">

        <p class="help">
          Look up the Breakpad module names and identifiers for a product and
          version. Product names are the crash reporting ones, e.g. <code>Chrome_Mac</code>.
        </p>
      </label>
      <div class="input-options" ng-show="inputType == 'module_info'">
        <div>
          <label for="product_name">Product Name</label>
          <input type="text" ng-model="typeData.module_info.product_name" id="product_name">
        </div>

        <div>
          <label for="product_version">Product Version</label>
          <input type="text" ng-model="typeData.module_info.product_version" id="product_version">
        </div>
      </div>

      <label class="radio">
        Stack Fragment
        <input type="radio" name="input_type" ng-model="inputType" value="fragment">

        <p class="help">
          Symbolize arbitrary addresses of a stack fragment. It is often useful
          to get the Module Name and Module Identifier from the
          "Look Up Module Info" option.
        </p>
      </label>
      <div class="input-options" ng-show="inputType == 'fragment'">
        <div>
          <label for="module">
            Module Name
            <p class="help">
              The code module name, which is often the last path component of an
              archive, for example &ldquo;chrome.dll&rdquo; or &ldquo;Google Chrome
              Framework&rdquo;.
            </p>
          </label>
          <input type="text" ng-model="typeData.fragment.module" id="module">
        </div>

        <div>
          <label for="ident">
            Module Identifier
            <p class="help">
              A unique identifier for the module. Rather than using version numbers,
              which are not guaranteed to be unique, the Breakpad crash servers use
              a 33-character long identifier, based on the UUID of the symbol file
              for the module.
            </p>
          </label>
          <input type="text" ng-model="typeData.fragment.ident" id="ident">
        </div>

        <div>
          <label for="load_address">
            Load Address/Module Base Address
            <p class="help">
              The base address where the code module was mapped into memory. The
              symbolizer will subtract this from each of the addresses to find
              the function in the module. If the addresses being symbolized are
              absolute within the module, <code>0x0</code> is an acceptable value.
            </p>
          </label>
          <input type="text" ng-model="typeData.fragment.load_address" id="load_address">
        </div>
      </div>

      <label class="radio">
        Android Log
        <input type="radio" name="input_type" id="input_type_android" ng-model="inputType" value="android">

        <p class="help">
          Symbolize the crash from an android log. The log is obtained with the
          command <code>adb logcat</code>.
        </p>
      </label>
      <div class="input-options" ng-show="inputType == 'android'">
        <div>
          <label for="android_chrome_version">Android Chrome Version (Optional)</label>
          <input type="text" ng-model="typeData.android.android_chrome_version" id="android_chrome_version">
        </div>
      </div>

      <textarea ng-model="input" id="input" wrap="off" ng-hide="hideInputArea()"></textarea>

      <div><button class="btn btn-primary" ng-click="symbolize()">Symbolize</button></div>
    </section>  <!-- / Input Crash Data -->

    <section class="well">
      <h2>Symbolized Output</h2>

      <textarea id="output" wrap="off" ng-class="{in_progress: processing, error: error}">{@ output @}</textarea>
    </section>  <!-- / Output -->

    <footer>
      crsym
      {{range .StatusData}}
       [ {{.}} ]
      {{end}}
    </footer>

    <script src="/static/symbolizer.js"></script>
  </body>
</html>
